//
//  BroadcastExtension-inhouse.xcconfig
//  Glip
//
//  Created by Roger Zhang on 2018/11/9.
//  Copyright © 2018 RingCentral. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../RCVideoPortalSharedConfig.xcconfig"
#include "../../../../ringcentral-II/Glip/Pods/Target Support Files/Pods-BroadcastExtension/Pods-BroadcastExtension.in-house.xcconfig"

CODE_SIGN_IDENTITY = iPhone Distribution: RingCentral
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Distribution: RingCentral

CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM = 699KR4R4WY

PROVISIONING_PROFILE = e04b122c-3527-400f-91fa-d3caef21b06f
PROVISIONING_PROFILE_SPECIFIER = RCVideoPortal-Broadcast-Extension-Inhouse

PRODUCT_BUNDLE_IDENTIFIER = com.glip.mobile.rc.broadcastExtension
// Use the same entitlements as Glip project so that no need to maintain multiple signature files.
CODE_SIGN_ENTITLEMENTS = $(SRCROOT)/../ringcentral-II/Glip/Glip/Config/Broadcast/GlipBroadcastInhouse.entitlements
